//____________________
//------HELPERS-------
//====================

// -------------------
// -----MIXINS-----
// -------------------

@mixin google-font($font) {
  $font: unquote($font);
  @import url(https://fonts.google.com/css?family=#{$font});
}

// $font-primary: ;

// -------------------
// -----VARIABLES-----
// -------------------

//------Color Variables-------

// $color-primary: ;
// $color-secondary: ;
// $color-tertiary: ;
// $color-text: ;
// $color-headline: ;
// $color-link: ;
// $color-body: ;
// $color-container: ;

//------Font Variables-------

// //-----FONT FAMILY-----
// $font-primary: ;
// $font-secondary: ;
// $font-tertiary: ;

// //-----FONT WEIGHT-----
// $font-bold: ;
// $font-semi-bold: ;
// $font-medium: ;
// $font-regular: ;
// $font-light: ;
// $font-thin: ;

// //-----FONT SIZE-----
// $font-big: 2rem;
// $font-h1: 1.5rem;
// $font-h2: 1.25rem;
// $font-h3: 1.125rem;
// $font-normal: 0.938rem;
// $font-small: 0.813rem;
// $font-smaller: 0.75rem;

// -----SPACE: MARGIN / PADDING / SIZES-----
// -----------------------------------------

///------Breakpoint Variables-------
// $breakpoint-desktop: 1200px;
// $breakpoint-laptop: 950px;
// $breakpoint-tablet: 768px;
// $breakpoint-mobile: 400px;

// $mobile-first: "screen and (min-width: 300px)";

// @media #{$mobile-first} {
//   #content {
//     font-size: 14px;
//     line-height: 1.5;
//   }
// }

//-----Height Variables-----
// $height-header: ;
// $height-footer: ;
// $width-content: ;

//-----Space Variables-----
// $sp-0-25: 1.25rem;
// $sp-0-5: 0.5rem;
// $sp-0-75: 0.75rem;
// $sp-1: 1rem;
// $sp-1-5: 1.5rem;
// $sp-2: 2rem;
// $sp-3: 3rem;

// //-----Z-Index Variables-----
// $z-tooltip: 10;
// $z-fixed: 100;
// $z-modal: 1000;

//------Functions-------

//_________________
//------BASE-------
//=================

// -------------------
// -----TYPOGRAPHY-----
// -------------------

// @use "1-helpers/1-helpers" as helpers;
// @include helpers.google-font(font-name1);
// @include helpers.google-font(font-name2);
// or
// @import url();

// @font-face {
//   font-family: "fontName";
//   font-weight: "400";
//   src: url("./fonts/fontName-normal.ttf"); //IE-9 Compat Modes
//   src: url("./fonts/fontName-normal.ttf") format("embeded-opentype"),
//     url("./fonts/fontName-normal.ttf") format("woff"),
//     url("./fonts/fontName-normal.ttf") format("woff2"),
//     url("./fonts/fontName-normal.ttf") format("truetype"),
//     url("./fonts/fontName-normal.ttf") format("svg");
// }

// //-----FONT SIZE FOR LARGE DEVICE-----
// @media screen and (min-width: 968px) {
//   :root {
//     $font-big: 3rem;
//     $font-h1: 2.25rem;
//     $font-h2: 1.5rem;
//     $font-h3: 1.25rem;
//     $font-normal: 1rem;
//     $font-small: 0.875rem;
//     $font-smaller: 0.813rem;
//   }
// }

// Common weight name mapping
// 100 - thin
// 200 - extra-light
// 300 - light
// 400 - normal/regular
// 500 - medium
// 600 - semi-bold
// 700 - bold
// 800 - extra-bold
// 900 - black

// h1-h6
// // example
// h3 {
//   font-size: 1.999em;
//   @media (max-width: $breakpoint-tablet) {
//     font-size: 1.3em;
//   }
//   @media (max-width: $breakpoint-mobile) {
//     font-size: 1.2em;
//   }
// }
// p
// a
// strong
// span
// .h1-h6
// .red .blue (or any other which you know that will repeat in your texts)
// .small,
// .large

// -------------------
// -----GLOBALS-----
// -------------------

/*--- BASE ---*/
:root {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  // margin: 0;
  // font-family: $font-primary;
  // font-size: $font-normal;
  // background-color: $color-body;
  // color: $color-text;
}

main {
}

h1 {
  margin: 0.67rem 0;
}

h1,
h2,
h3,
h4 {
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

/*--- REUSEABLE CLASSES ---*/
// .container,
// .row {
//   max-width: $width-content;
//   margin: 0 auto;
// }

// .section {
//   padding: $sp-2;
// }

// .section__title {
//   font-size: $font-h2;
// }

// .section__sub-title {
//   display: block;
//   font-size: $font-h3;
// }

// .section__title,
// .section__sub-title {
//   text-align: center;
//   letter-spacing: 1px;
//   word-spacing: $sp-0-25;
// }
