//____________________
//------HELPERS-------
//====================

// -------------------
// ------MIXINS-------
// -------------------

@mixin google-font($font, $weight) {
  $font: unquote($font);
  @import url("https://fonts.googleapis.com/css2?family=#{$font}:wght@#{$weight}&display=swap");
}

@include google-font("lato", "100;300;400");
// $font-primary: ;
// -------------------
// -----VARIABLES-----
// -------------------
//------Color Variables-------
// $white: #fff;
// $grey-dark: #333;
// $grey-light: darken($white, 5%);

// $color-map: (
//   primary: #111,
//   accent: #111,
//   secondary: #222,
//   tertiary: #333,
//   headline: $white,
//   menu-items: #111,
//   text: $grey-dark,
//   link: #111,
//   body: $white,
//   container: $grey-light,
// );
//------Font Variables-------
// //-----FONT FAMILY-----
// $font-primary: ;
// $font-secondary: ;
// $font-tertiary: ;
// //-----FONT WEIGHT MAP-----
// $font-weight-map: (
//   bold: 700,
//   semi-bold: 600,
//   medium: 500,
//   regular: 400,
//   light: 300,
//   extra-light: 200,
//   thin: 100,
// );
// //-----FONT SIZE MAP-----
// $font-size-map: (
//   hero: 4.8rem,
//   h1: 3.2rem,
//   h2: 2.4rem,
//   h3: 1.87rem,
//   normal: 1.6rem,
//   small: 1.3rem,
//   smaller: 1.2rem,
//   big: 1.9rem,
//   bigger: 2.1rem,
// );
// -----SPACE: MARGIN / PADDING / SIZES-----
// -----------------------------------------
// //------Breakpoint Variables Map-------
// $breakpoint-map: (
//   x-large: 1200px,
//   large: 960px,
//   medium: 680px,
//   small: 480px,
//   tiny: 320px,
// );

// $height-header: 60px;
// $height-footer: 60px;
// $width-content: 1140px;

//-----SPACE VARIABLES-----

// $sp-1-25: 1.25rem;
// $sp-0-5: 0.5rem;
// $sp-0-75: 0.75rem;
// $sp-1: 1rem;
// $sp-1-5: 1.5rem;
// $sp-2: 2rem;
// $sp-3: 3rem;
// //-----Z-Index Variables-----
// $z-tooltip: 10;
// $z-fixed: 100;
// $z-modal: 1000;

//------Functions-------
@function color($colr) {
  @return map-get($map: $color-map, $key: $colr);
}

@function font-weight($weight) {
  @return map-get($map: $font-weight-map, $key: $weight);
}

@function font-size($size) {
  @return map-get($map: $font-size-map, $key: $size);
}

//_________________
//------BASE-------
//=================
// -------------------
// -----TYPOGRAPHY-----
// -------------------
// @use "1-helpers/1-helpers" as helpers;
// @include helpers.google-font(font-name1);
// @include helpers.google-font(font-name2);
// or
// @import url();
// @font-face {
//   font-family: "fontName";
//   font-weight: "400";
//   src: url("./fonts/fontName-normal.ttf"); //IE-9 Compat Modes
//   src: url("./fonts/fontName-normal.ttf") format("embeded-opentype"),
//     url("./fonts/fontName-normal.ttf") format("woff"),
//     url("./fonts/fontName-normal.ttf") format("woff2"),
//     url("./fonts/fontName-normal.ttf") format("truetype"),
//     url("./fonts/fontName-normal.ttf") format("svg");
// }

// Common weight name mapping
// 100 - thin
// 200 - extra-light
// 300 - light
// 400 - normal/regular
// 500 - medium
// 600 - semi-bold
// 700 - bold
// 800 - extra-bold
// 900 - black

// -------------------
// -----GLOBALS-----
// -------------------

:root {
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  // margin: 0;
  // font-family: $font-primary;
  // font-size: $font-normal;
  // background-color: $color-body;
  // color: $color-text;
}

main {
}

h1 {
  margin: 0.67rem 0;
}

h1,
h2,
h3,
h4 {
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

/*--- REUSEABLE CLASSES ---*/
// .container,
// .row {
//   max-width: $width-content;
//   margin: 0 auto;
// }

// .section {
//   padding: $sp-2;
// }

// .section__title {
//   font-size: $font-h2;
// }

// .section__sub-title {
//   display: block;
//   font-size: $font-h3;
// }

// .section__title,
// .section__sub-title {
//   text-align: center;
//   letter-spacing: 1px;
//   word-spacing: $sp-0-25;
// }
