@use "base" as b;

/*--- COMPONENTS ---*/

//------Alert-------

//------Button-------
.btn--trans {
  display: inline-block;
  color: b.color(secondary);
  border: none;
  background-color: transparent;
  font-size: b.font-size(normal);
  margin-left: 1rem;
  cursor: pointer;
}
//------Carousel-------

//------Forms-------

//------Reset-------

//------Lists-------

//------Nav-------

//------Slider-------

//------Tables-------
