@use 'base' as b;

/* LAYOUTS*/

//------Alert-------

/*------hero Section-------*/
.hero {
  width: 100%;
  height: 100vh;
  background-image: url('../images/kolakolade_portfolio_bg.jpeg');
  background-size: cover;
  background-position: center;

  &__text-content {
    margin-top: 20%;
    font-size: b.$sp-3;

    &__typewriter {
      font-family: 'Veteran Typewriter', serif;
    }

    h1 {
      font-size: b.font-size(hero);
      margin-top: b.$sp-2;

      span {
        color: b.color(secondary);
      }

      span.accent {
        color: b.color(accent);
      }
    }
  }

  &__cta {
    margin-top: b.$sp-1;
  }

  &__social {
    margin-top: b.$sp-3 * 4;

     &__link {
      color: b.color(white);
    }

    &__icon{
      display: inline-block;
      margin-right: b.$sp-2;
      color: b.color(white);
      width: b.$sp-2;
      height: b.$sp-0-75;

      &:hover {
        color: b.color(secondary);
        transform: scale(1.2);
      }

      &:active {
        transform: translateY(-2px);
      }
    }
  }
}

/*------Navigation-------*/
.hero {
  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: b.$sp-3 * 8;
  }

  &__list {
    display: inline-block;
    margin: b.$sp-1 b.$sp-2;
  }

  &__link {
    color: b.$color-white;
    position: relative;

    &::after {
      content: '';
      width: 0;
      height: b.$sp-0-25;
      background: b.color(secondary);
      position: absolute;
      left: 0;
      bottom: - b.$sp-0-75;
      transition: 0.25s;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

/*------About------*/
.about {
  padding: b.$sp-2 * 4 0;
  color: b.color(text-2);
  position: relative;

  &__col-1 {
    flex-basis: 35%;
  }

  &__img {
    width: 100%;
    border-radius: b.$sp-1-5;
  }

  &__col-2 {
    flex-basis: 60%;
  }

  &__headline {
    margin-top: b.$sp-0-75;
    margin-bottom: b.$sp-1-5;
  }

  &__description {
    font-size: b.font-size(small);
  }

  &__tab {
    &-titles {
      display: flex;
      margin: b.$sp-2 0 b.$sp-2 * 2;
    }

    &-link {
      margin-right: b.$sp-1-25 * 4;
      font-size: b.font-size(h3);
      font-weight: b.font-weight(medium);
      cursor: pointer;
      position: relative;

      &::after {
        content: '';
        width: 0;
        height: b.$sp-0-25;
        background: b.color(secondary);
        position: absolute;
        left: 0;
        bottom: - b.$sp-0-75;
        transition: 0.5s;
      }

      &.active::after {
        width: 50%;
      }
    }
  }

  &__links {
    margin: b.$sp-1 0;

    &__items {
      color: b.color(text-3);
      font-size: font-size(smaller);
    }
  }

  &__tab-content {
    display: none;

    &.active {
      display: block;
    }
  }
}
/*------Popup-------*/
.about {
  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.5);
    color: b.color(text-4);
  }

  &__popup {
    width: 60vw;
    height: 75vh;
    background-color: b.color(text);
    margin: b.$sp-1 * 8 auto;
    padding: b.$spe-1-25 * 4;
    border-radius: b.$sp-1;
    position: relative;

    &__close {
      color: b.color(secondary);
      font-size: b.font-size(bigger);
      cursor: pointer;
      position: absolute;
      top: b.$sp-1-25;
      right: b.$sp-1-25 * 2;
    }

    &__header {
      display: flex;
    }

    &__img {
      margin-top: b.$sp-1-5;
      width: b.$sp-1-25 * 6;
      height: b.$sp-1-25 * 6;
      border-radius: b.$sp-0-5;
    }

    &__title,
    &__headline {
      color: b.color(text-4);
      margin-left: b.$sp-1-25;
    }

    &__headline {
      margin-top: b.$sp-0-5;
    }

    &__description {
      font-size: b.font-size(small);
      margin-top: b.$sp-1-25;

      &-text {
        margin-bottom: b.$sp-0-75;
      }
    }
  }
}

/*------Services-------*/
.Services {
  padding: b.$sp-3 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(b.$sp-3 *8, 1fr));
  }
}

//---Section= Section_Name----


//------Footer-------
